  default: &default
    adapter: postgresql
    encoding: unicode
    pool: 5

  development:
    <<: *default
    database: album_blast_development

  test:
    <<: *default
    database: album_blast_test

  production:
    <<: *default
    database: album_blast_production
    username: album_blast
    password: <%= ENV['ALBUM_BLAST_DATABASE_PASSWORD'] %>