development:
  adapter: postgresql
  encoding: utf8
  database: album_blast_development
  pool: 5
  username: gschool_user
  password: password

test: &TEST
  adapter: postgresql
  encoding: utf8
  database: album_blast_test
  pool: 5
  username: gschool_user
  password: password

production:
  adapter: postgresql
  encoding: utf8
  database: album_blast_production
  pool: 5
  username: gschool_user
  password: password